body {
    font-size: 15px;
}

a {
    color: #00ABCD;
    text-decoration: none;
}

.title {
    background: #555;
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0.5em;
}

.document-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.document-list li {
    padding: 0.4em 0.5em;
    border-bottom: 1px dotted #666;
}

.document-list li a {
    color: #000;
}

.sumo-document {
    padding: 2vmin;
}
.sumo-document h1 {
    border-bottom: 1px dotted #666;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 0.5em;
}

.sumo-document .note {
    background: #eef2f5;
    border: 1px solid #e4ebee;
    margin: 4vmax;
    padding: 4vmin;
}
.sumo-document #toc {
    display: none;
}

.sumo-document img {
    max-width: 95%;
}

.sumo-document ul,
.sumo-document ol {
    padding: 0;
    margin: 0 0 0 1.5em;
}
