* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans;
}

body {
    font-size: 15px;
}

nav {
    background: #555;
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    height: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: -moz-flex;
    display: flex;
}

nav ul li {
  padding: 0.5em;
  -moz-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

nav .back-button {
  border-right: 1px solid #aaa;
  padding: 0.3em 0;
  margin-right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  transition: width 0.1s;
  overflow: hidden;
}

nav .back-button.collapse {
  width: 0;
}

nav .title {
  padding: 0.5em;
  -moz-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
    color: #00ABCD;
    text-decoration: none;
}

.browser-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.browser-list li {
  padding: 0.4em 0.5em;
  border-bottom: 1px dotted #666;
}

.browser-list li.topic {
  font-weight: bold;
}

.browser-list li a {
    color: #000;
}

.sumo-document {
    padding: 2vmin;
}
.sumo-document h1 {
    border-bottom: 1px dotted #666;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 0.5em;
}

.sumo-document .note {
    background: #eef2f5;
    border: 1px solid #e4ebee;
    margin: 4vmax;
    padding: 4vmin;
}
.sumo-document #toc {
    display: none;
}

.sumo-document img {
    max-width: 95%;
}

.sumo-document ul,
.sumo-document ol {
    padding: 0;
    margin: 0 0 0 1.5em;
}
