<!DOCTYPE html>
<html lang="en" ng-app="yaocho" ng-csp ng-cloak>
<head>
  <meta charset="utf-8">
  <title>Mozilla Support</title>
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular/angular-csp.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>
  <div ng-controller="SettingsCtrl"></div>

  <nav ng-controller="NavCtrl">
    <ul>
      <li class="back-button" ng-hide="ui.backHidden" ng-click="back()">←</li>
      <li class="title" ng-bind="ui.current.title"></li>
      <li class="menu-button" alink view="Settings"></li>
    </ul>
  </nav>

  <div ng-view></div>

  <div class="flash" ng-controller="CacheDownloadCtrl" ng-show="showCacheUpdate">
    {{ confirmMessage }}
    <input type="button" value="{{ yesMsg }}" ng-click="updateCache()"/>
    <input type="button" value="{{ noMsg }}" ng-click="hideCacheUpdate()"/>
  </div>

  <div class="loading"  ng-show="loading"></div>

  <div class="flash" ng-controller="FlashCtrl" ng-hide="message.trim() === ''">
    {{ message }}
  </div>

  <script src="/bower_components/lodash/dist/lodash.js"></script>
  <script src="/bower_components/es6-promise/promise.js"></script>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script src="/bower_components/restangular/dist/restangular.js"></script>
  <script src="/bower_components/angular-url-manager/url-manager.js"></script>

  <script src="/js/app.js"></script>

  <script src="/js/l10nfallback.js"></script>
  <script type="text/javascript">
    var url = '/l10n/' + navigator.language + '.js';
    var l10nScript = document.createElement('script');
    l10nScript.setAttribute('src', url);
    l10nScript.setAttribute('type', 'text/javascript');
    var firstScript = document.querySelector('script:first-of-type');
    var body = document.querySelector('body');
    document.querySelector('body').appendChild(l10nScript);
  </script>
  <script src="/js/l10n.js"></script>

  <script src="/js/ui.js"></script>
  <script src="/js/userprefs.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/kstorage.js"></script>
  <script src="/js/kitsune.js"></script>
  <script src="/js/controllers.js"></script>
</body>
</html>
